---
layout: archive
title: "Film Photography"
permalink: /portfolio/
author_profile: true
---

I've got into film photography with a simple point-and-shoot camera in 2024 and now I can't get enough of it! 

<br>Here are some of my favorite shots from my travels!


<br><br>
<img src="/images/walkway2thefuture.jpg"  width="500" height="500"> 

<img src="/images/train3.jpg"  width="500" height="500"> 
<img src="/images/outdoors7.jpg"  width="500" height="500"> 
<img src="/images/outdoors1.jpg"  width="500" height="500"> 
<img src="/images/mural-spagetti.jpg"  width="500" height="500"> 


<img src="/images/monicabubbles.jpg"  width="500" height="500"> 


<img src="/images/monica2.jpg"  width="500" height="500"> 


<img src="/images/madison3.jpg"  width="500" height="500"> 


<img src="/images/ist4-balat.jpg"  width="500" height="500"> 

<img src="/images/000710840032.jpg"  width="500" height="500"> 

<img src="/images/cruzlight.jpg"  width="500" height="500"> 
<img src="/images/000710850028.jpg"  width="500" height="500"> 
<img src="/images/art1.jpg"  width="500" height="500"> 
<br>

<img src="/images/eskisehir6.jpg"  width="500" height="500"> 
<br>

<img src="/images/ist5.jpg"  width="500" height="500"> 
<img src="/images/000710860011.jpg"  width="500" height="500"> 
<img src="/images/sign-dave-andy.jpg"  width="500" height="500"> 


<!-- 
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
 -->
